#game-overlay-message {
  position: absolute;
  font-size: 50px;
  width: 100%;
  text-align: center;
}

/* body {
  background-color: black;
} */

.visible {
  opacity: 1;
  visibility: visible;
}

.not-visible {
  opacity: 0;
  visibility: hidden;
}
